@import url('https://fonts.googleapis.com/css?family=Poppins');
*
{
    scroll-behavior: smooth;
}
@media screen and (min-width:769px){
    header #alkuteksti{
        position: relative;
        z-index: 2;
        color: rgb(255, 255, 255);
        right: 2%;
        margin-bottom: 0px;
        top: -13px;
    }
    body{
        background-color: rgb(0, 0, 0);
        font-family: 'Poppins';
        overflow-x: hidden;
    }
    header{
        font-family: 'Poppins';
        font-size: 20px;
        position: sticky;
        top: 0;
        left: 0;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        z-index: 1000;
        background: rgba(64 52 81 / 38%);
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
        border-bottom: groove;
        border: 1px solid rgba(255, 255, 255, 0.3);
        max-height: 92px;
    }
    header ul{
        display: flex;
        justify-content: center;
        align-items: center;
        color: rgb(255, 255, 255);
        z-index: 1000;
        cursor: pointer;

    }
    .error{
        font-size: 20px;
        text-align: center;
        margin-left: 50%;
        margin-right: 50%;
        z-index: 0;
        color: #cfca8c;
        right: 100em;
        position: static;
    }
    header ul li{
        text-decoration: none;
        list-style: none;
        color: rgb(255, 255, 255);
        z-index: 1000;
        min-width: 100px;
    }
    .btn1{
        background-image: linear-gradient(
            to right,
            #cfca8c,
            #2b2b2b 50%,
            #ffffff 50%
          );
          background-size: 200% 100%;
          background-position: -100%;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          transition: all 0.3s ease-in-out;
    }
    .btn1:before {
        content: '';
        background: #ffffff;
        position: relative;
    }

    .btn1:hover {
        background-position: 0;
    }

    .btn2{
     background-image: linear-gradient(
            to right,
            #cfca8c,
            #2b2b2b 50%,
            #ffffff 50%
          );
          background-size: 200% 100%;
          background-position: -100%;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          transition: all 0.3s ease-in-out;
    }
    .btn2:before {
        content: '';
        background: #ffffff;
        position: relative;
    }

    .btn2:hover {
        background-position: 0;
    }

    .btn3{
    background-image: linear-gradient(
        to right,
        #cfca8c,
        #2b2b2b 50%,
        #ffffff 50%
        );
        background-size: 200% 100%;
        background-position: -100%;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        transition: all 0.3s ease-in-out;
    }
    .btn3:before {
        content: '';
        background: #ffffff;
        position: relative;
    }
    .btn3:hover {
        background-position: 0;
    }
    section{
        width: 100%;
        flex-direction: column;
        position: relative;
        display: flex;
        height: 39em;
        align-items: start;
        overflow: hidden;
    }
    .titlevideo{
        position: relative;
        width: 100%;
        z-index: 2;
        height: 100%;
    }
    #sliderplayer-0 {
        position: absolute;
        width: 114%;
        height: 170%;
        bottom: 0px;
        left: 0;
        margin-left: -8em;
        top: -42%;
    }
    .tausta{
        width: 100%;
        height: 100%;
        position: absolute;
    }
    .Jere{
        width: 416px;
        height: 442px;
        border-radius: 54%;
        margin-top: 2em;
    }
    #alateksti{
        position: relative;
        background: black;
        color: rgb(255, 255, 255);
        border-radius: 6px;
        padding: 7px;
        height: 27px;
        margin-bottom: 10em;
        z-index: 1;
        bottom: 82em;
        left: 4em;
        margin-top: 2em;
        padding-right: 34px;
    }
    header ul li a{
        text-decoration: none;
        padding: 10px;
        color: rgb(0, 0, 0);
        font-size: 100%;
        font-weight: bold;
    }
    .paragraph1{
        color: #ffffff;
        position: relative;
        right: 12.3em;
        top: 10.6em;
    }
    .paragraph2{
        color: #ffffff;
        position: relative;
        right: 12.3em;
        top: 21.9em;
    }
    .boxes{
        display: flex;
        justify-content: space-around;
        z-index: 10;
        color: rgb(0, 0, 0);
        padding: 2%;
        background-color: #000;
        /* background: linear-gradient(to right, rgb(64 52 81), rgb(236, 236, 236)); */
        box-shadow: 0 0px 30px rgba(64 52 81 / 38%);
    }
    .box1 h2{
        color: #fff;
        background: rgb(64 52 81 / 38%);
        z-index: -1;
        position: static;
        font-size: 3em;
        border-radius: 10px;
    }
    .box1 p{
        font-size: 25px;
        color: white;
        font-weight: bold;
        border-left: 1px solid;
        padding: 10px;
    }
    .box1{
        text-align: center;
        color: rgba(0, 0, 0, 0.459);
        max-width: 400px;
        min-height: 100px;
        min-width: 400px;
        position: relative;
        bottom: 5.9em;
    }
    .kirja{
        width: 100px;
        height: 100px;
        overflow: hidden;
        position: relative;
        left: 10em;
        top: 11.5em;
    }
    .box1 h1{
        padding: 10px;
    }
    .box2{
        text-align: center;
        color: rgba(0, 0, 0, 0.459);
        max-width: 400px;
        min-width: 400px;
        border-radius: 6px;
        position: relative;
        bottom: 3.5em;
    }
    .box2 h2{
        color: #fff;
        background: rgb(64 52 81 / 38%);
        position: static;
        font-size: 3em;
        border-radius: 10px;
    }
    .box2 p{
        font-size: 25px;
        color: #ffffff;
        font-weight: bold;
        border-left: 1px solid;
        padding: 10px;
    }
    .taidot{
        width: 65px;
        position: relative;
        top: 10.4em;
        left: 9em;
    }
    .box3 h1{
        padding: 10px;
    }
    .box3{
        text-align: center;
        color: rgba(0, 0, 0, 0);
        max-width: 400px;
        min-width: 400px;
        border-radius: 6px;
        position: relative;
        bottom: 4px;
    }
    .box3 h2{
        color: #fff;
        background: rgb(64 52 81 / 38%);
        position: static;
        font-size: 3em;
        border-radius: 10px;
    }
    .link{
        color: #ffffff;
        position: relative;
        right: 8.8em;
        top: 0.9em;
    }
    .link2{
        color: #ffffff;
        position: relative;
        right: 8.7em;
        top: 5.1em;
    }
    .box3 a{
        text-decoration: underline;
        list-style: none;
        font-weight: bold;
        font-size: 1em;
        color: #ffffff;
        font-weight: bold;
        font-size: 30px;
        padding: 10px;
        border-left: 1px solid;
        transition: all 0.2s ease-in-out;
    }
    .box3 a:hover{
        color: rgb(255, 255, 255);
        box-shadow: 0 0px 30px rgba(145, 92, 182, .4);
    }
    .github{
        width: 60px;
        position: relative;
        top: 7em;
        left: 10em;
        color: white;
    }
    .Work h1{
        color: rgb(255, 255, 255);
        background: rgb(64 52 81 / 38%);
        position: relative;
        justify-content: center;
        display: flex;
        width: 8em;
        left: 43%;
        border-radius: 10px;
    }
    .Work .videos{
        justify-content: space-around;
        display: flex;
        position: relative;
    }
    .Work #video2{
        background-color: black;
        position: relative;
        padding: 25px;
        border-radius: 10px;
        width: 650px; 
        height: 400px;
    }
    .Work #video{
        background-color: black;
        position: relative;
        padding: 25px;
        border-radius: 10px;
        width: 650px; 
        height: 400px;
    }
    .aboutme{
        flex: 50%;
        display: flex;
        background-color: rgb(0, 0, 0);
        color: #cfca8c;
        text-align: center;
        z-index: 1;
        position: relative;
        margin-top: 60px;
        width: 100%;
        max-height: 40em;
        justify-content: space-evenly;
    }
    .aboutme .koodikuva{
        z-index: -1;
        position: relative;
        opacity: 0.15;
        height: 106%;
        width: 157%;
        bottom: 50px;
    }

    .aboutme h2{
        position: relative;
        width: 34%;
    }
    .aboutme p{
        position: relative;
        margin-top: 2%;
        max-width: 35em;
        font-size: 20px;
    }
    /* .info {
        left: 52%;
        position: relative;
        z-index: 1;
        background-color: black;
        color: white;
        padding-bottom: 20em;
    } */
    .row {
        display: flex;
        /* margin-top: 20px; */
      }
      .experience{
        width: 50%;
        height: 100%;
      }
      .column {
        flex: 50%;
        text-align: center;
        padding-left: 2em;
        font-size: 20px;
        padding-bottom: 6em;
        height: 50%;
        padding-right: 2em;
      }
    .footer{
        background-color: black;
        color: white;
        padding-bottom: 19em;
        position: relative;
        width: 100%;
        align-items: center;
    }
    #logo{
        width: 100px;
        position: relative;
        left: 82%;
        top: 1em;
    }
    .footer a #logo{
        position: relative;
    }
    #mail{
        width: 83px;
        position: relative;
        left: 82%;
        top: 0.5em;
    }
    .footer .Contact{
        font-size: 30px;
        left: -1%;
        position: relative;
        top: 4em;
        text-align: center;
    }
    form{
        display: flex;
        flex-direction: column;
        gap: 2em;
        place-items: center;
        position: relative;
        top: 10em;
        text-align-last: center;
        margin-bottom: -82px;
    }
    input, textarea{
        padding: 1.5em;
        background: rgba(255, 255, 255, 0.041);
        border: 2px solid;
        color: #cfca8c;
    }
    .send{
        border-radius: 10px;
        background-color: #2b2b2b;
        color: #cfca8c;
        width: 7em;
        border-color: #cfca8c;
    }
    .totop{
        color: white;
        top: 40px;
        position: relative;
    }
    .lopputeksti{
        margin-bottom: 10px;
        color: white;
    }
}




@media screen and (min-width: 200px) and (max-width: 768px){
    .aboutme .koodikuva{
        z-index: -1;
        margin-top: 24px;
        position: relative;
        opacity: 0.2;
        height: 100%;
        width: 100%;
    }

    #logo {
        width: 90px;
        position: relative;
        left: 18%;
        top: 16em;
    }
    .tausta{
        visibility: hidden;
    }
    .taidot{
      visibility: hidden;
      width: 10px;
    }
    #mail{
        width: 79px;
        position: relative;
        left: 36%;
        top: 15.6em;
    }
    section{
        width: 100%;
        position: static;
        display: flex;
        justify-content: left;
        border-bottom: inset;
        height: 35em;
        margin: 0 auto;
    }
    input, textarea{
        padding: 1.5em;
        background: rgba(255, 255, 255, 0.274);
        border: 2px solid;
        color: #fff;
    }
    header #alkuteksti{
        display: none;
    }
    body{
        background-color: rgb(0, 0, 0);
        font-family: 'Poppins';
        overflow-x: hidden;
        width: 100%;
    }
    header{
        font-family: 'Poppins';
        font-size: 22px;
        position: sticky;
        top: 0;
        left: 0;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        z-index: 1000;
        background-color: #fff;
        border-bottom: groove;
        max-height: 100px;
    }
    header ul{
        display: flex;
        justify-content: center;
        align-items: center;
        color: rgb(0, 0, 0);
        z-index: 1000;
        cursor: pointer;
        padding-left: 10px;
    }
    header ul li{
        text-decoration: none;
        list-style: none;
        color: rgb(0, 0, 0);
        z-index: 1000;
        min-width: 100px;
    }
    section{
        width: 100%;
        position: static;
        width: -webkit-fill-available;
        display: flex;
        justify-content: left;
        border-bottom: inset;
        height: 35em;
    }
    section #Jere{
        position: relative;
        font-size: 4.2em;
        top: 199px;
        left: 15px;
    }
    section #Aronsalo{
        position: relative;
        font-size: 4.2em;
        top: 250px;
        right: 137px;
    }
    section #alateksti{
        position: relative;
        top: 27em;
        right: 489px;
        background: black;
        color: #fff;
        border-radius: 6px;
        padding: 7px 1em 7px 8px;;
        text-align: center;
        max-height: 23px;
        font-size: 14px;
        min-inline-size: max-content;
        padding-right: 4em;
    }
    header ul li a{
        text-decoration: none;
        padding: 5px;
        color: rgb(0, 0, 0);
        font-size: 100%;
        font-weight: bold;
    }
    .boxes{
        color: rgb(0, 0, 0);
        background-color: #000;
        padding: 20px;
        text-align: center;
    }
    .box1 h1{
        padding: 10px;
    }
    .kirja{
        visibility: hidden;
        width: 10px;
    }
    .box1 h2{
        color: #fff;
        font-size: 3em;
        background: black;
        border-radius: 10px;
        text-align: center;
    }
    .box2 h1{
        padding: 10px;
    }
    .box2 h2{
        color: #fff;
        font-size: 3em;
        background: black;
        border-radius: 10px;
        text-align: center;
    }
    .box2 p{
        font-size: 25px;
        color: rgb(255, 255, 255);
        font-weight: bold;
    }
    .box3 h1{
        padding: 10px;
    }
    .box1 p{
        font-size: 25px;
        color: rgb(255, 255, 255);
        font-weight: bold;
    }
    .box3 h2{
        color: #fff;
        font-size: 3em;
        background: black;
        border-radius: 10px;
        text-align: center;
    }
    .box3 a{
        font-weight: bold;
        font-size: 2em;
        color: rgb(68, 17, 252);
        font-weight: bold;
        outline: #000;
    }
    .Work h1{
        color: rgb(255, 255, 255);
        position: relative;
        justify-content: center;
        display: flex;
        background-color: rgb(0, 0, 0);
        width: 8em;
        left: 14%;
        border-radius: 10px;
    }
    .Work .videos{
        position: relative;
        padding: 10, 10, 10;
        width: 100%;
    }
    .Work #video2{
        background-color: black;
        position: relative;
        padding: 25px;
        border-radius: 10px;
        width: 85%;
        height: 85%;
    }
    .Work #video{
        background-color: black;
        position: relative;
        padding: 25px;
        border-radius: 10px;
        width: 85%;
        height: 85%;
    }
    .aboutme{
        background-color: black;
        color: #fff;
        text-align: center;
        z-index: 10;
        position: relative;
        margin-top: 60px;
        width: 100%;
        height: 60em;
        padding-bottom: 55px;
    }

    .aboutme h2{
        position: relative;
    }
    .aboutme p{
        position: relative;
        padding: 1em;
    }
    .footer{
        margin-top: 40px;
        background-color: black;
        color: #fff;
        padding-bottom: 19em;
        position: relative;
        width: 100%;
    }
    .footer .Contact{
        font-size: 21px;
        left: -1%;
        position: relative;
        top: 4em;
        text-align: center;
        padding: 10px;
    }
    form{
        display: flex;
        flex-direction: column;
        width: 20em;
        gap: 1em;
        place-items: center;
        position: relative;
        left: 8%;
        top: 10em;
    }
    .paragraph1{
        color: #cfca8c;
        position: relative;
        right: 12.3em;
        top: 10.6em;
    }
    .paragraph2{
        color: #cfca8c;
        position: relative;
        right: 12.3em;
        top: 20.7em;
    }
    .link{
        visibility: hidden;
    }
    .link2{
        visibility: hidden;
    }
    .github{
        position: relative;
        top: 6.5em;
        left: 17em;
        width: 40px;
    }
    .totop{
        color: white;
        top: 40px;
    }
    .tausta{
        width: 100%;
        height: 100%;
        position: absolute;

    }
    .column {
        padding: 1em;
        font-size: 20px;
        background-color: #000;
}
    .lopputeksti{
        margin-bottom: 1px;
        padding: 0.5em;
        text-align: center;
    }
    .experience{
        visibility: hidden;
        height: 0px;
      }
      .Jere{
        visibility: hidden;
    }
}