@import url('https://fonts.googleapis.com/css?family=Poppins');
section #alkuteksti{
    position: absolute;
    z-index: 2;
    color: #fff;
    right: 13%;
    top: 10px;
}
body{
    background-color: rgb(3, 8, 29);
    font-family: 'Poppins';
}
header{
    font-family: 'Poppins';font-size: 22px;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    /* padding: 30px 100px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}
header ul{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    z-index: 1000;
}
header ul li{
    text-decoration: none;
    list-style: none;
    color: white;
    z-index: 1000;
}
section{
    position: static;
    width: -webkit-fill-available;
    height: 38em;
    display: flex;
    justify-content: center;
    align-items: center;
    content: "";
    z-index: 10000;
    margin-left: -10px;
}
section::before{
    content: "";
    position: relative;
    bottom: -41%;
    width: -webkit-fill-available;
    background: linear-gradient(to top, rgb(3, 8, 29), transparent);
    z-index: 1000;
    height: 100px;
}
section .image{
    position: absolute;
    width: -webkit-fill-available;
    top: -8px;
    left: -9px;
    object-fit: cover;
    pointer-events: none;
    /* background: linear-gradient(to bottom, rgb(3, 8, 29), transparent);
    background-size: cover;
    z-index: 1; */
    
}
header ul li a{
    text-decoration: none;
    padding: 10px;
    color: #fff;
}
section .logo{
    position: absolute;
    inline-size: -webkit-fill-available;
    /* padding: 18%; */
    z-index: 1;
    /* bottom: 56em; */
    max-width: 1200px;
    top: -29em;
    right: 24em;
}
.boxes{
    display: flex;
    justify-content: space-around;
}
.box1 h2{
    color: #fff;
    /* padding: 100px; */
    background: rgb(3, 8, 29);
    z-index: -1;
    position: static;
    font-size: 3em;
}
.box1 p{
    font-size: 1em;
    color: #fff;
    padding: 25px;
}
.box1{
    text-align: center;
    border-radius: 10px;
    border-style: double;
    color: rgba(255, 255, 255, 0.459);
    max-width: 400px;
    min-height: 100px;
    min-width: 400px;
}
.box1 h1{
    padding: 10px;
}
.box2{
    text-align: center;
    border-radius: 10px;
    border-style: double;
    color: rgba(255, 255, 255, 0.459);
    max-width: 400px;
    min-width: 400px;
}
.box2 h2{
    color: #fff;
    background: rgb(3, 8, 29);
    z-index: -1;
    position: static;
    font-size: 3em;
}
.box2 p{
    font-size: 1em;
    color: #fff;
}
.link ul{
    border-radius: 10px;
    background-color: rgba(102, 51, 153, 0.116);
    list-style: none;
    color: rgb(255, 255, 255);
    border-style: double;
}
.link{
    width: 300px;
    align-items: center;
    max-width: 200px;
    min-width: 100px;
}